:root {
    --primary: #10d863;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: auto;
    text-align: center;
    color: #ccc;
}

.heading {
    display: inline-block;
    margin-top: 50px;
    color: var(--primary);
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
}

.container img {
    max-height: 400px;
}


.card {
    width: 300px;
    height: 200px;
    margin: auto;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
}

.form {
    width: 90%;
    margin: auto;
}

.form>* {
    width: 100%;
}

.form label {
    font-weight: bold;
    color: #ccc;
}

.form input {
    height: 30px;
    margin: 20px auto;
    padding: 5px;
    color: #000;
    background-color: #c5c5c7;
    box-sizing: border-box;
    outline: none;
    border-radius: 4px;
    border: none;
}

::placeholder {
    color: #000;
    opacity: 1;
    text-align: center;
}

.form button {
    height: 30px;
    margin: 10px auto;
    box-sizing: border-box;
    padding: 5px;
    border: none;
    border-radius: 4px;
    background-color: var(--primary);
    box-shadow: 0px 0px 10px 0px var(--primary);
}

.form button:hover {
    transform: scale(1.02);
}

.warning {
    margin: auto;
    margin-top: 20px;
    visibility: hidden;
}

.result {
    width: 300px;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.result a {
    text-decoration: none;
    color: #ccc;
    overflow: hidden;
    text-overflow: ellipsis;
}

.result .clone-icon {
    cursor: pointer;
}

.result .clone-icon:hover {
    transform: scale(1.2);
}

.not-found {
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    color: var(--primary);
    background-color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.not-found>img {
    max-width: 90%;
    max-height: 400px;
}

.result a {
    color: var(--primary);
}

.result i {
    color: var(--primary);
}

@media (max-width:769px) {
    .container {
        display: flex;
        flex-direction: column-reverse;
    }

    .container img {
        height: 200px;
    }

    .not-found {
        flex-direction: column;
    }

    .not-found>h1 {
        margin-bottom: 50px;
    }
}